<div class="container mb-5 pb-5">
  <div class="card mb-3">
  <div class="card-body row">
    <p class="card-title">
    <div col-md >
      <p class="image">
         <%= image_tag @article.img.url if @article.img? %>
      </p>
     
　  <%= link_to user_path(@article.user)do %>
    <%= @article.user.name %>
    <% end %>
    </div>

    <div col-md >
    <h5 class="card-title text-wrap"><%= @article.title %></h5> 
    <p class="card-text text-wrap"><%= @article.content %></p>
    </div>
    </p> 
  </div>
  </div>
<div class="card mb-3">
 <div class="card-body">
    <p class="card-title">コメント</p> 
    <% @comments.each do |comment| %>
      <div>
        <%= comment.content %>
     </div>
    <% end %>
  </div>
 </div>
 
 <div class="mb-5">
     
<%= render 'likes/like_btn', article: @article %>

<%= link_to new_article_comment_path(@article) do %>
  <i class="far fa-comment-dots fa-2x "></i>
<% end %>

   
<%= render 'stores/stores_btn', article: @article %>
 <%= render 'btn'%></p>

 </div>
 

</div>

<%= render 'commons/footer' %>




