<div class="row">
   <% articles.each do |article| %>
   <div class="col-md-4 mb-5 py-3">
     <div class="card h-100">
        <%= link_to article_path(article) do %>
          
        <div class="card-body"> 

          <p class="card-title"><%= article.user.name %></p>
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.content %></p>
          <p class="card-text"></p>
        </div>
        <% end %>
      </div>
       <div class="text-right m-2">
         <i class="fas fa-heart fa-2"><span><%= article.like_count %></span></i>
      </div>
    </div>
  <% end %>
</div>
</div>